/* 
HEADER BOTTOM
================================================ */
/* pagewrap */
#pagewrap {
	padding-top: 0 !important;
}

/* headerwrap */
#headerwrap {
	text-align: inherit;
	border: none;
	border-top: 1px solid rgba(0,0,0,.1);
}
body.page-loaded.fixed-header #headerwrap {
	position: fixed;
}
#headerwrap,
body.fixed-header.page-loaded #headerwrap {
	position: fixed;
	bottom: 0;
	top: auto;
}
body:not(.mobile_menu_active).page-loaded.admin-bar.fixed-header #headerwrap {
	top: auto;
}

/* logo wrap */
.logo-wrap {
	float: left;
}

/* site description */
#site-description {
	left: 0;
	transform: none;
	text-align: left;
	top: auto;
	bottom: 100%;
	margin-bottom: 20px;
}
#site-description:before {
	margin-left: 14px;
	left: 0;
	top: auto;
	bottom: 0;
}
#site-logo:focus + #site-description,
#site-logo:hover + #site-description {
	margin-bottom: 0;
}

/* main navigation */
#main-nav {
	position: static;
	float: left;
	width: auto;
	max-width: none;
	padding-left: 23px;
}
#main-nav .has-mega-sub-menu .mega-sub-menu,
#main-nav .has-mega-column>.sub-menu,
#main-nav ul {
	top: auto;
	bottom: 100%;
}
#main-nav ul ul {
	top: auto;
	bottom: -9px;
}

/* icon menu tooltip */
.icon-menu a .tooltip {
	top: auto;
	bottom: 100%;
	margin-bottom: 10px;
}
.icon-menu a .tooltip:before {
	border-bottom-color: transparent;
	border-top-color: #000;
	top: 100%;
	bottom: auto;
}
.icon-menu a:hover .tooltip {
	margin-bottom: 0;
}

/* menu-icon */
#headerwrap #menu-icon {
	position: absolute;
	margin: auto;
}

/* ADMIN BAR */
.mobile_menu_active.admin-bar #headerwrap #menu-icon {
	top: 20px;
}

/* FOOTERWRAP */
#footerwrap {
	background-color: #fff;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.1);
	position: fixed;
	top: 0;
	bottom: auto;
	left: 0;
	width: 100%;
	transition: transform .35s cubic-bezier(0.6, -0.1, 0.4, 0.05);
	transform: translateY(-100%);
}
#footerwrap.expanded {
	transform: translateY(0);
}
body:not(.mobile_menu_active).page-loaded.admin-bar #footerwrap {
	top: 32px;
}
#footer {
	padding-bottom: 0;
}
.footer-column-wrap .footer-text-outer {
	position: static;
	margin-bottom: 1.5em;
}
.footer-tab {
	box-sizing: border-box;
	background-color: #b78711;
	color: #fff !important;
	font-size: 24px;
	line-height: 1em;
	text-decoration: none !important;
	position: fixed;
	top: 100%;
	left: 50%;
	width: 70px;
	height: 35px;
	padding: 5px;
	transition: .35s;
	transform: translateX(-50%);
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-tab:before {
	content: "\e64b";
	font-family: themify;
}
#footerwrap.expanded .footer-tab:before {
	content: "\e646";
}

/* back-top */
#pagewrap .back-top {
	position: fixed;
	top: auto;
	bottom: 62px;
	right: 6px;
	left: auto;
	z-index: 99;
	width: 50px;
	line-height: 49px;
}
.back-top.back-top-float{
	cursor:pointer;
	overflow: hidden;
	opacity: 1;
	visibility: visible;
	transition: all .25s;
	transform: perspective(400px) scaleY(1);
	transform-origin: bottom;
}
.mobile-menu-visible #pagewrap .back-top,
.back-top.back-top-float.back-top-hide {
	opacity: 0;
	visibility: hidden;
	transform: perspective(400px) scaleY(0);
}

/* MEDIA QUERIES */
@media screen and (max-width: 800px) {
	.footer-tab {
		width: 50px;
		height: 30px;
		font-size: 22px;
	}
	#pagewrap .back-top a:before {
		font-size: 1.4em;
	}
}

/* header bottom footer height */
@media screen and (max-height:900px) {
	#footerwrap #footer {
		overflow: auto; /* prevent overflowing the page */
		-webkit-overflow-scrolling: touch;
		max-height: 60vh;
		font-size: .9em;
	}
}
