/* 
HEADER MINBAR RIGHT
================================================ */
/* body overlay */
body:not(.mobile_menu_active).sidemenu-left .body-overlay-on {
	left: auto;
	right: 320px;
	box-shadow: none;
}

/* pagewrap */
#pagewrap {
	padding-top: 0 !important;
}

/* body */
.mobile-menu-visible {
    overflow-x: hidden;
}
#body {
	margin-right: 72px;
	padding-left: 4%;
	padding-right: 4%;
}
.full_width #body {
	padding-left: 0;
	padding-right: 0;
}

.slide-cart-visible #body,
.mobile-menu-visible #body {
	margin-right: 0;
	padding-right: 0;
}

/* builder row */
.full_width .themify_builder_row.fullwidth .row_inner {
	 max-width: 100%;
}

/* sidemenu active */
.sidemenu-active {
	position: relative;
}
.sidemenu-active,
.sidemenu-active #headerwrap {
	left: 0;
	transition: left .2s ease-in-out;
}
.sidemenu-right,
.sidemenu-right #headerwrap {
	left: -320px;
}

/* headerwrap */
#headerwrap {
	border: none;
	box-shadow: -6px 0px 20px 0px rgba(0,0,0,.1);
	position: fixed;
	top: 0;
	left: auto;
	right: 0;
	width: 72px;
	height: 100%;
	box-sizing: border-box;
	text-align: inherit;
	transition: right .2s linear;
}
body.page-loaded.fixed-header #headerwrap {
	position: fixed; /* required */
}
#header {
	max-width: none;
	padding: 0;
}
.mobile-menu-visible #headerwrap {
	right: -72px;
}
.sidemenu-active #headerwrap {
	left: auto;
}
.mobile_menu_active #headerwrap {
	box-shadow: -6px 0px 20px 0px rgba(0,0,0,.1);
}
/* logo wrap */
.logo-wrap {
	display: block;
	transform-origin: left;
	transform: rotate(-90deg) translateY(50%);
	position: fixed;
	bottom: 0;
	z-index: 10000;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
#site-logo {
	white-space: nowrap;
	margin-top: 9px;
}
#site-logo,
#site-description {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
}
#site-description {
	padding: 5px;
	margin: 0;
	margin-left: 1.5em;
	position: absolute;
	left: 115%;
	top: 50%;
	white-space: nowrap;
	z-index: 9;
	transform: translateY(-50%);
	transition: left .2s linear;
}
#site-description:before {
	left: 0;
	bottom: 50%;
	z-index: -1;
}
#site-logo:hover + #site-description {
	left: 100%;
}

.mobile-menu-visible .logo-wrap {
	visibility: hidden;
}

/* sidemenu */
.sidemenu {
	background-color: rgba(255,255,255,.95);
	color: inherit;
	display: block;
	position: fixed;
	padding: initial;
	width: 320px;
	height: 100%;
	left: auto;
	right: -320px;
	top: 0;
	z-index: 9999;
	transition: left 200ms ease-in-out;
	overflow: visible !important; /* To fix Chrome Flickering Bug */
}
.mobile-menu-visible .sidemenu-on {
	right: 0px;
	overflow: hidden !important; /* To fix Chrome Flickering Bug */
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	box-shadow: -6px 0px 20px 0px rgba(0,0,0,.25);
}
#footer .back-top.back-top-float {
	right: 100px;
}
.mobile-menu-visible #footer .back-top.back-top-float {
	right: 360px;
}

/* menu icon */
#headerwrap #menu-icon {
	display: block;
	text-decoration: none;
	position: fixed;
    top: 22px;
	right: 20px;
	left: auto;
	z-index: 1;
	box-sizing: border-box;
	line-height: 1em;
	margin: 0;
}
.menu-icon-inner {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 18px;
	position: relative;
}
.menu-icon-inner:before,
.menu-icon-inner:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	transition: all .7s ease;
	transition-property: transform;
	box-sizing: border-box;
}
.menu-icon-inner:before {
	top: 0;
	height: 100%;
}
.menu-icon-inner:after {
	top: 50%;
	transform: translateY(-50%);
}
.mobile-menu-visible #headerwrap #menu-icon {
	display: none;
}
.admin-bar #headerwrap #menu-icon {
	top: 48px;
}

/* slide menu icon close */
.mobile-menu-visible #menu-icon-close {
	display: block;
	position: absolute;
	text-decoration: none;
	top: .55em;
	right: 1em;
	min-width: 2em;
	min-height: 2em;
	transform-origin: center;
	transition: all .3s linear;
	transition-property: transform;
}
.mobile-menu-visible #menu-icon-close:before,
.mobile-menu-visible #menu-icon-close:after {
	content: '';
	display: block;
	border-top: 1px solid;
	position: absolute;
	left: 0;
	top: 60%;
	width: 100%;
}
.mobile-menu-visible #menu-icon-close:before {
	transform: rotateZ(-45deg);
}
.mobile-menu-visible #menu-icon-close:after {
	transform: rotateZ(45deg);
}
.mobile-menu-visible #menu-icon-close:hover {
	transform: rotate(90deg);
}

/* searchform */
#headerwrap .search-button {
	position: fixed;
	z-index: 9999;
	right: auto;
	right: 0;
	top: 64px;
	border: none;
	border-top: 1px solid rgba(0,0,0,.07);
	height: auto;
	width: 71px;
	margin: auto;
	padding: initial;
	transform: none;
	outline: 0;
	text-align: center;
}
.search-button:before {
	display: inline-block;
	font-size: 1.65em;
	padding: .6em 0;
}
.mobile-menu-visible #headerwrap .search-button {
	position: static;
	border: none;
	border-right: 1px solid rgba(0,0,0,.07);
	height: auto;
}

/* icon menu */
.top-icon-wrap {
	border: none;
	background: none;
	font-size: 1.3em;
	position: fixed;
	right: 0;
	top: 70px;
	z-index: 9999;
	width: 72px;
	margin: auto;
	transform: none;
	perspective: none;
	will-change: auto;
}
.search-button + .top-icon-wrap {
	right: 0; /* reset main style */
	top: 120px;
}
.top-icon-wrap li {
	display: block;
	width: auto;
	margin: 0;
}
#headerwrap .top-icon-wrap li a {
	max-width: none;
	padding: .35em 0;
	display: block;
	text-align: center;
}
.sidemenu-off .top-icon-wrap li > a:hover {
	box-shadow: inset 3px 0px 0px 0px #dcaa2e;
}
.sidemenu-on .top-icon-wrap li a .tooltip {
	background-color: transparent;
	color: #787878;
	display: block;
	font-size: 0.6em;
	position: static;
	padding: 0;
	margin: .4em 0 0;
	opacity: 1;
	visibility: visible;
	transform: none;
	transition: none;
}
.sidemenu-on .top-icon-wrap li a:hover .tooltip {
	color: #b78711;
}
#headerwrap .sidemenu-off .top-icon-wrap li a .tooltip {
	background-color: #000;
	color: #fff;
	font-size: 0.65em;
	margin-top: 0;
	padding: .6em 1em;
	position: absolute;
	left: auto;
	right: 130%;
	top: 50%;
	opacity: 1;
	visibility: hidden;
	transform: translateY(-50%);
	transition-property: right;
}
#headerwrap .sidemenu-off .top-icon-wrap li a:hover .tooltip {	
	visibility: visible;
	right: 100%;
}
#headerwrap .sidemenu-off .top-icon-wrap .cart .tooltip,
.top-icon-wrap li a .tooltip:before {
	display: none;
}
.icon-menu + .icon-menu {
	margin-right: 0;
}
.icon-menu {
	float: none;
	display: inline;
}
.icon-menu i {
	font-size: 1.15em;
}
.icon-menu .icon-menu-count {
	font-size: 45%;
	margin-left: -11px;
}
.sidemenu-off .icon-menu-count {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 6px;
	margin-top: -4px;
}
.mobile-menu-visible .top-icon-wrap {
	position: static;
	width: auto;
	border-top: 1px solid rgba(0,0,0,.07);
	padding: .5em 1em 1em;
	box-sizing: border-box;
	background: rgba(0,0,0,.05);
}
.mobile-menu-visible .top-icon-wrap li {
	width: 32%;
	margin: 0 -1px;
	display: inline-block;
}
.mobile-menu-visible .top-icon-wrap li {
	padding: .65em 0 .15em;
}

/* cart wrap */
#cart-wrap {
	left: auto;
	right: 0;
	top: 0;
	margin-top: -11px;
	display: none;
}
#headerwrap .top-icon-wrap li #cart-wrap a {
	text-align: inherit;
}
.sidemenu-off .top-icon-wrap li:hover #cart-wrap {
	right: 100%;
	margin-top: -11px;
	display: block;
}
.sidemenu-on #cart-wrap {
	left: 50%;
	top: 100%;
	margin-top: 5px;
	transform: translateX(-50%);
	display: block;
}

/* menu navigation */
#headerwrap #main-nav {
	position: static;
	float: none;
	margin: 0 0 1em;
	padding: 0;
	border-bottom: 1px solid rgba(0,0,0,.07);
	transform: none;
	max-width: none;
}
#main-nav li {
	float: none;
	display: block;
}
#headerwrap #main-nav > li {
	position: relative;
}
#main-nav a {
	float: none;
	display: block;
	padding: .5em 2em;
	margin: auto;
}
#main-nav ul li:first-child > a,
#main-nav a {
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: none;
}
#main-nav ul {
	border: none;
	background-color: transparent;
	display: block;
	opacity: 1;
	visibility: visible;
	position: static;
	padding: 0 0 0 3em;
	margin: auto;
}
#main-nav ul li {
	padding: 0;
}
#main-nav ul a {
	padding: .65em 0;
	width: auto;
}
#main-nav ul ul {
	margin: auto;
}
#main-nav > li > a:before {
	display: none;
}

/* sub level */
#headerwrap #main-nav ul {
	position: static;
	width: auto;
	height: auto;		
	display: block;
	border: none;
	margin: 0;
	padding: 0 0 0 2.8em;
	background: none;
	opacity: 1;
	visibility: visible;
	clear: both;
}
#headerwrap #main-nav ul ul {
	padding-left: 1.25em;
}

/* menu link */
#headerwrap #main-nav > li {
	position: relative;
}
#headerwrap #main-nav a, 
#headerwrap #main-nav ul a {
	background: none;
	border: none;
	border-top: solid 1px rgba(0,0,0,.07);
	display: block;
	font-size: 100%;
	width: auto;
	padding: .6em 1.4em;
	margin: 0;
	line-height: 1.5em;
	text-decoration: none;
}

/* sub level menu link */
#headerwrap #main-nav ul a {
	font-size: .95em;
	padding: .6em 1.4em .6em 0;
	letter-spacing: 0;
}

/* sub arrow */
#main-nav .sub-arrow {
	display: none;
}

/* dropdown icon */
#headerwrap #main-nav .menu-item-has-children > a,
#headerwrap #main-nav .page_item_has_children > a {
	padding-right: 2.5em;
}
#main-nav .menu-item-has-children .child-arrow,
#main-nav .page_item_has_children .child-arrow {
	position: absolute;
	right: 15px;
	top: 0;
	padding: .45em .5em;
	z-index: 1;
	cursor: pointer;
	font-size: .75em;
	transition: all .5s ease-in-out;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
#main-nav .menu-item-has-children .child-arrow:before,
#main-nav .page_item_has_children .child-arrow:before {
	content: "\e80c"; /* ti-angle-down */
	font-family: 'themify_theme_icon';
	display: block;
}
#main-nav .menu-item-has-children .child-arrow.toggle-on:before,
#main-nav .page_item_has_children .child-arrow.toggle-on:before {
	content: "\e80d"; /* ti-close */
	transform: rotate(-90deg);		
}
#main-nav .menu-item-has-children .child-arrow:hover,
#main-nav .page_item_has_children .child-arrow:hover {
	transform: rotate(-180deg);
}
#main-nav .menu-item-has-children .child-arrow.toggle-on,
#main-nav .page_item_has_children .child-arrow.toggle-on {
	transition: all .3s ease-in-out;
	transform-origin: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	perspective: 1000px;
}
#main-nav .menu-item-has-children .child-arrow.toggle-on:hover,
#main-nav .page_item_has_children .child-arrow.toggle-on:hover {
	transform: rotate(-90deg);		
}
#headerwrap #main-nav .has-mega-column > .sub-menu,
#headerwrap #main-nav .has-mega-sub-menu .mega-sub-menu,
#headerwrap #main-nav .has-mega-column > .sub-menu > li > ul {
	opacity: 1;
	transform: none;
}
#headerwrap #main-nav .has-sub-menu > .sub-menu > li > ul.sub-menu,
#headerwrap #main-nav .has-mega-column > .sub-menu > li > ul.sub-menu,
#headerwrap #main-nav > li > div.sub-menu,
#headerwrap #main-nav > li > ul.sub-menu {
	height: 100%;
	overflow: hidden;
	max-height: 0;
	box-shadow: none;
	transition: max-height 0.5s ease-in-out;
}
#headerwrap #main-nav .has-sub-menu > .sub-menu > li > .toggle-on + ul.sub-menu,
#headerwrap #main-nav .has-mega-column > .sub-menu > li > .toggle-on + ul.sub-menu,
#headerwrap #main-nav > li > .toggle-on + div.sub-menu,
#headerwrap #main-nav > li > .toggle-on + ul.sub-menu {
	max-height: 1000px;
	min-height: initial;
}

/* Mega menu */
#main-nav .has-mega-column > .sub-menu,
#main-nav .has-mega-sub-menu .mega-sub-menu {
	display: block;
	position: static;
	box-shadow: none;
	border: none;
	background-color: transparent;
	min-height: inherit;
	max-height: inherit;
	opacity: 1;
	transform: none;
	margin: auto;
	padding: 0;
	width: auto !important;
}
#main-nav .has-mega-sub-menu.has-sub-menu .mega-sub-menu.sub-menu ul,
#main-nav .has-mega-column .sub-menu li {
	display: block;
	float: none;
	width: auto !important;
	margin: 0;
	padding: 0;
}
#main-nav li:not(.has-mega-column).dropdown-columns-2 > .sub-menu > li,
#main-nav li:not(.has-mega-column).dropdown-columns-3 > .sub-menu > li,
#main-nav li:not(.has-mega-column).dropdown-columns-4 > .sub-menu > li {
	float: none;
	width: 100%;
}
#main-nav .has-mega-column .widgettitle,
#main-nav .has-mega-column > .sub-menu > .columns-sub-item > a,
#main-nav .has-mega-column > .sub-menu a {
	font-size: inherit;
	font-weight: normal;
	text-transform: none;
}
#main-nav li.mega-link.loading .themify_spinner,
#main-nav li.mega-link.loading:before,
#main-nav .mega-sub-menu li:hover a:after,
#main-nav .mega-menu-posts {
	display: none;
}
#main-nav .has-mega-column > .sub-menu .widget {
	margin-top: .5em;
	margin-bottom: .5em;
}
#main-nav .has-mega-sub-menu .mega-sub-menu,
#main-nav .has-mega-column > .sub-menu {
	color: inherit;
}
#main-nav .has-mega-column > .sub-menu {
	padding: 0 0 0 2.8em;
}
#main-nav .has-mega-column .product-categories .count {
	right: 2em;
}

/* TOP BAR WIDGETS */
#mobile-menu.sidemenu .top-bar-widgets {
	display: none;
}
.mobile_menu_active #headerwrap > .top-bar-widgets {
	display: block;
}
.top-bar-widgets {
	position: fixed;
	right: 0;
	width: 100vh;
	transform: rotate(-90deg);
	transform-origin: bottom right;
	bottom: 100%;
}

/* MOBILE MENU ACTIVE */
.mobile_menu_active.sidemenu-active #headerwrap {
	left: auto;
}
body:not(.mobile-menu-visible).mobile_menu_active .top-icon-wrap {
	position: fixed;
	background: none;
}
body:not(.mobile-menu-visible).mobile_menu_active .top-icon-wrap li {
	width: auto;
}
.mobile_menu_active .top-bar-left,
.mobile_menu_active .top-bar-right {
	width: 50%;
	float: left;
}
.mobile_menu_active .top-bar-right {
	float: right;
	text-align: right;
}
.mobile_menu_active .top-bar-widgets {
	background-color: #f4f2f2;
}

/* FIXED HEADER */
#headerwrap.fixed-header {
	left: auto;
	width: 72px;
}

/* ADMIN BAR */
.mobile_menu_active.admin-bar #headerwrap #slide-cart,
.mobile_menu_active.admin-bar #headerwrap #menu-icon {
	top: 46px;
}
body:not(.mobile-menu-visible).admin-bar .top-icon-wrap,
body:not(.mobile-menu-visible).admin-bar #headerwrap .search-button {
	margin-top: 1.5%;
}

/* FOOTER */
#footerwrap {
	margin-right: 72px;
}
#footer {
	padding-left: 3%;
	padding-right: 3%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 760px) {

	#footerwrap,
	#body {
		padding-left: 0;
		padding-right: 0;
		margin-right: 45px;
	}
	#headerwrap.fixed-header,
	#headerwrap,
	.top-icon-wrap,
	#headerwrap .search-button {
		width: 45px;
	}
	.top-icon-wrap {
		top: 85px;
	}
	#headerwrap .search-button {
		top: 40px;
	}
	.search-button:before {
		font-size: 1.3em;
		padding: .4em;
	}
	#headerwrap #site-logo {
		font-size: 1.2em;
	}
	#headerwrap #menu-icon {
		right: 10px;
		top: 12px;
	}
	.mobile_menu_active .menu-icon-inner {
		width: 20px;
		height: 14px;
	}
	.mobile-menu-visible #menu-icon-close {
		top: .5em;
		min-width: 1.5em;
		min-height: 1.5em;
	}
	.sidemenu-off .top-icon-wrap {
		font-size: .9em;
	}
	.search-button + .top-icon-wrap {
		top: 82px;
	}
	#footer {
		padding-left: 0;
		padding-right: 0;
	}
	#footer .back-top.back-top-float {
		right: 65px;
	}
	
	/* ADMIN BAR */
	.mobile_menu_active.admin-bar #headerwrap #menu-icon,
	.mobile_menu_active.admin-bar.mobile-menu-visible #headerwrap #menu-icon {
		top: 55px;
	}
	body:not(.mobile-menu-visible).admin-bar .top-icon-wrap,
	body:not(.mobile-menu-visible).admin-bar #headerwrap .search-button {
		margin-top: 7.5%;
	}

	.top-bar-widgets .widget {
		padding: 9px 0;
	}

}

@media only screen and (min-width: 1201px) {
	/* builder row */
	.full_width .themify_builder_row .row_inner {
		 max-width: 96%;
	}
}