/* MENU OVERLAY ZOOMIN */
.mobile_menu_active.mobile-menu-visible.sidemenu-active #headerwrap,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.mobile_menu_active.sidemenu-active,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.mobile_menu_active.sidemenu-active #headerwrap.fixed-header {
	left: 0;
	right: 0;
}
.mobile_menu_active #mobile-menu.sidemenu {
	left: 0;
	right: 0;
	width: 100%;
	transform-origin: center;
	transform: scale(.2);
	transition: .8s ease;
	opacity: 0;
	visibility: hidden;
	border: none;
}
.mobile_menu_active.mobile-menu-visible #mobile-menu.sidemenu {
	transform: none;
	opacity: 1;
	visibility: visible;
}
.mobile-menu-visible .body-overlay,
.mobile_menu_active .body-overlay,
 .body-overlay.body-overlay-on {
	display: none;
}
body:not(.mobile-menu-visible) #headerwrap #menu-icon-close {
	display: none;
}