/* MENU SLIDE IN LEFT */
.mobile_menu_active.mobile-menu-visible.sidemenu-active #headerwrap,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.mobile_menu_active.sidemenu-active,
body:not(.header-overlay):not(.header-minbar):not(.header-leftpane):not(.header-rightpane).mobile-menu-visible.mobile_menu_active.sidemenu-active #headerwrap.fixed-header {
	left: 0;
	right: 0;
}
.mobile_menu_active #mobile-menu.sidemenu {
	left: 0;
	right: 0;
	width: 100%;
	perspective: 400px;
	transform-origin: center;
	transform: translateX(-100%);
	transition: .8s ease;
	opacity: 1;
	visibility: hidden;
	overflow-x: hidden;
	border: none;
}
.mobile_menu_active.mobile-menu-visible #mobile-menu.sidemenu {
	transform: none;
	opacity: 1;
	visibility: visible;
}
.mobile-menu-visible .body-overlay,
.mobile_menu_active .body-overlay,
 .body-overlay.body-overlay-on {
	display: none;
}
body:not(.mobile-menu-visible) #headerwrap #menu-icon-close {
	display: none;
}

/* CSS 3 Animation menu elements */
.mobile_menu_active .top-icon-wrap,
.mobile_menu_active #main-nav li {
	transition: all 400ms ease-in-out;
	transform: translate(-40px, 0) !important;
	opacity: 0;
}
.mobile_menu_active.mobile-menu-visible .top-icon-wrap,
.mobile_menu_active.mobile-menu-visible #main-nav li {
	opacity: 1;
	transform: translate(0, 0) !important;
}
.mobile_menu_active.mobile-menu-visible .top-icon-wrap {
	transition-delay: 50ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(1) {
	transition-delay: 100ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(2) {
	transition-delay: 200ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(3) {
	transition-delay: 300ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(4) {
	transition-delay: 400ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(5) {
	transition-delay: 500ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(6) {
	transition-delay: 600ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(7) {
	transition-delay: 700ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(8) {
	transition-delay: 800ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(9) {
	transition-delay: 900ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(10) {
	transition-delay: 1000ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(11) {
	transition-delay: 1100ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(12) {
	transition-delay: 1200ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(13) {
	transition-delay: 1300ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(14) {
	transition-delay: 1400ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(15) {
	transition-delay: 1500ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(16) {
	transition-delay: 1600ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(17) {
	transition-delay: 1700ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(18) {
	transition-delay: 1800ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(19) {
	transition-delay: 1900ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(20) {
	transition-delay: 2000ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(21) {
	transition-delay: 2100ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(22) {
	transition-delay: 2200ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(23) {
	transition-delay: 2300ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(24) {
	transition-delay: 2400ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(25) {
	transition-delay: 2500ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(26) {
	transition-delay: 2600ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(27) {
	transition-delay: 2700ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(28) {
	transition-delay: 2800ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(29) {
	transition-delay: 2900ms;
}
.mobile_menu_active.mobile-menu-visible #main-nav > li:nth-child(30) {
	transition-delay: 3000ms;
}
.mobile_menu_active.mobile-menu-visible .header-widget div[class*="col"]:nth-child(1) {
	transition-delay: 600ms;
}
.mobile_menu_active.mobile-menu-visible .header-widget div[class*="col"]:nth-child(2) {
	transition-delay: 700ms;
}
.mobile_menu_active.mobile-menu-visible .header-widget div[class*="col"]:nth-child(3) {
	transition-delay: 800ms;
}
.mobile_menu_active.mobile-menu-visible .header-widget div[class*="col"]:nth-child(4) {
	transition-delay: 900ms;
}