.themify_builder_31_row.module_row_0.module_row{background-repeat: repeat; background-attachment: scroll; background-position: center center; }
.themify_builder_31_row.module_row_0.module_row>div.row_inner{background-repeat: repeat; background-attachment: scroll; background-position: center center; }
.themify_builder .plain-text-31-0-0-0.module-plain-text{background-repeat: repeat; background-position: left top; }
