.themify_builder_119_row.module_row_0.module_row{background-repeat: repeat; background-attachment: scroll; background-position: center center; }
.themify_builder_119_row.module_row_0.module_row>div.row_inner{background-repeat: repeat; background-attachment: scroll; background-position: center center; }
.themify_builder .plain-text-119-0-0-0.module-plain-text{background-repeat: repeat; background-position: left top; }
.themify_builder .icon-119-1-0-0 div.module-icon{background-repeat: repeat; background-position: left top; text-align: center; }
.themify_builder .box-119-3-0-0.module-box .module-box-content{background-repeat: repeat; background-position: left top; }
.themify_builder .box-119-3-0-0.module-box{text-align: center; }
